.cart_plus_minusBtn{
  flex-direction: column !important;
}

.shopping_basket .centerDonuts .selectedOrder ul {
  margin-right: unset;
}

.selectedOrder div {
  flex-direction: row;
}

.price_discount{
  .discount_alert span {
    margin-right: 4em;
  }
}