@use 'variables' as var;

@mixin visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.toggle-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin removeVisuallyHidden {
  position: unset;
  width: unset;
  height: unset;
  margin: unset;
  border: unset;
  padding: unset;

  white-space: unset;
  clip-path: unset;
  clip: unset;
  overflow: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var.$whiteBgColor;
  color: var.$blackTextColor;
  font-family: var.$rubikFont;

  nav {
    li {
      &:hover {
        background-color: #dcdcdc;
      }
    }

    a {
      color: var.$menuColor;
    }

    span.menu_bar {
      background-color: var.$menuColor;
    }
  }

  .filtering_buttons {
    background-color: var.$blueDetailColor;
  }

  .shopping_cart {
    color: var.$blackTextColor;
  }

  .shopping_basket,
  .selectedOrder div {
    background-color: var.$whiteBgColor;
  }

  .order_page{
    .donuts{
      background-color: var.$whiteBgColor;
    }

    #donut-articles{
      background-color: #c8d8d9;
    }
  }
}

.darkMode {
  background-color: var.$dmBgColor;
  color: var.$dmTextColor;

  nav {
    li {
      &:hover {
        background-color: #262626;
      }
    }

    a {
      color: var.$dmTextColor;
    }

    span.menu_bar {
      background-color: var.$dmTextColor;
    }
  }

  .filtering_buttons {
    background-color: var.$dmBlueColor;
  }

  .shopping_cart {
    color: var.$dmTextColor;
  }

  .shopping_basket,
  .selectedOrder div {
    background-color: var.$dmBgColor;
  }

  .order_page{
    .donuts{
      background-color: var.$dmBgColor;
    }

    #donut-articles{
      background-color: #406063;
    }
  }
}
.christmas {
  background-image: url('images/small/wallpaper_christmas_small.jpg');

  .shopping_basket {
    background-image: url('images/small/wallpaper_christmas_small.jpg');
  }
  .current_donuts_order div {
    background-color: rgba($color: #ffffff00, $alpha: 0);
  }
}

/* ------------------------Regler för startpage ---------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/

header {
  nav {
    padding: 0.5rem;
    /*position: fixed;
        width: 100%;*/

    .menu_links ul {
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        text-align: center;

        a {
          text-decoration: none;
          padding: 0.5rem 1rem;
          display: block;
          font-size: 1.3rem;
          font-weight: 500;
          font-family: var.$rubikFont;
        }
      }
    }
  }
}

.menu_links {
  width: 100%;
  @include visuallyHidden();
}

.menu_links.active {
  @include removeVisuallyHidden();
}

//Menyknapp
.toggle_menu {
  background-color: transparent;
  position: absolute;
  margin-top: 8px;
  height: 45px;
  width: 45px;
  top: 2px;
  right: 0.5rem;
  border: none;
  cursor: pointer;
}

span.menu_bar {
  display: block;
  height: 3.5px;
  width: 35px;
  background-color: var.$menuColor;
  margin-bottom: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.toggle_menu:focus span.menu_bar:nth-child(2) {
  opacity: 0;
}

.toggle_menu:focus span.menu_bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.toggle_menu:focus span.menu_bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.start_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header_image {
    display: inline-flex;
    align-items: flex-end;
    height: 300px;
    background-image: url('images/donut_image_startpage.jpg');
    background-size: cover;

    h1 {
      margin: 0 auto;
      margin-bottom: 5em;
      color: var.$blackTextColor;
      font-family: var.$rubikFont;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }

  article {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
      line-height: 1.3rem;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .orderbutton,

  #toggleDarkMode {
    background-color: #c9c7c7;
    text-transform: uppercase;
    min-width: 140px;
    min-height: 40px;
    margin-bottom: 2em;
    cursor: pointer;
    align-self: center;
    border-radius: 4px;
    border: 2px solid var.$btnBorderColor;

    &:hover {
      background-color: #939191;
      border: 2px solid #616161;
    }

    a {
      text-decoration: none;
      color: var.$blackTextColor;
      font-weight: 500;
    }
  }
}

.orderbutton {
  width: 80px;
  height: 30px;
}

/*-------------------------------------------regler för beställningssida------------------------------------------------
    ---------------------------------------------------------------------------------------------------------------------*/
//Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Firefox
input[type='number'] {
  -moz-appearance: textfield;
}
#sorting {
  font-size: 0.8em;
}
.filtering_buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  max-width: 800px;
  height: 60px;
  align-items: center;
  gap: 10px;

  .shopping_cart {
    position: absolute;
    left: 20px;
    cursor: pointer;
  }

  .material-symbols-outlined {
    display: inline-block;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }

  select#sorting {
    cursor: pointer;
    height: 1.8rem;
  }

  .filter {
    margin-right: 20px;
    display: flex;

    #mainFilterBtn {
      display: flex;
      gap: 3px;
      margin-right: 30px;
      background-color: var.$filterBtnBgColor;
      color: whitesmoke;
      border: 1px solid var.$filterBorderColor;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.8em;
      color: var.$blackTextColor;

      &:hover{
        background-color: var.$filterHoverBgColor;
        border: 1px solid var.$filterHoverBorderColor;
      }

      span{
        margin-top: 3px;
      }
    }

    .filterOptions {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 3px;
      font-size: 0.8em;
      button {
        background-color: var.$filterBtnBgColor;
        color: var.$blackTextColor;
        border: 1px solid var.$filterBorderColor;
        border-radius: 4px;
        cursor: pointer;

        &:hover{
          background-color: var.$filterHoverBgColor;
          border: 1px solid var.$filterHoverBorderColor;
        }
      }
    }
  }
}

.material-symbols-outlined {
  display: inline-block;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: var.$blackTextColor;
  font-weight: bold;
  font-size: 18px;
  background: none;
  border: none;
  z-index: 1;
}

.prev:hover,
.next:hover {
  background-color: white;
  opacity: 0.5;
}
.next {
  //right: 15%;
  right: 0.5em;
}
.prev {
  //left: 15%;
  left: 0.5em;
}

.donut_article > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  border: 2px solid var.$btnBorderColor;
  padding: 15px;
  align-items: center;
  max-width: 800px;
  margin: 0;
  figure {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    figcaption {
      color: var.$blackTextColor;
      position: absolute;
      bottom: 10px;
      left: 15%;
      border-radius: 10px;
      border: 2px solid #494e50;
      //background-color: rgb(112, 45, 45);
      background-color: var.$blueDetailColor;
      width: 70px;
      font-size: 0.8em;
    }
  }
  img {
    margin-left: 5px;
    width: 100px;
    height: 100px;
  }
  h4 {
    font-size: 0.8em;
    padding-left: 10%;
  }
  ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    margin-left: 25%;

    li {
      list-style: none;
      font-size: 0.8em;
    }

    li.price{
      margin-top: 10px;
    }
  }
}

  .plus_minusBtn, .cart_plus_minusBtn {
    display: flex !important;
    button {
      min-width: 50px;
      min-width: 50px;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
 } 

 .counterAndBtns {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'counters btns'
      'counters btns';
    .selectcounter {
      grid-area: counters;
    }
    .plus_minusBtn {
      grid-area: btns;
      }
    }

.selectcounter {
  font-size: 1.5rem;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 5px;
}

.plus_minusBtn {
  display: flex !important;
  flex-direction: column;
  button {
    min-width: 50px;
    min-width: 50px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
  .plus_minusBtn{
    flex-direction: column;
  }

  .cart_plus_minusBtn{
    flex-direction: row !important;
    font-size: 1.2rem;
  }

/*-----------------------------------------shopping-cart------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------*/

.shopping_basket {
  position: absolute;
  top: 60px; // Lämnar plats till header - Döljer just nu menyn
  width: 100%;
  min-height: fit-content;
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;

  h2,
  h3 {
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    margin: 15px auto;
  }
  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4{
    margin: 0;
  }
  }
  
  .centerDonuts {
    width: 85%;
    margin: 0 auto;
  }
    .selectedOrder {
      margin-bottom: 10px;

      img{
        height: 100px;
        width: 100px;
      }

      ul{
        margin-right: 4em;
      }
    }
.luciaOrder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_discount {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;

  .discount_alert {
    align-self: center;
    max-width: 18em;
  }

  .discount_alert span {
    margin-right: 6.3em;
  }

  .discount_button {
    padding: 7px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
  }  
}

.shipping {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-right: 1.3rem;

  .shipping_text {
    margin-right: 11.5em;
  }
}

.total_sum {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-right: 1.3rem;
  margin-bottom: 1rem;

  .amount_text {
    margin-right: 11.5em;
  }
}

.order_clear_buttons {
  margin-top: 15px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;

  button {
    margin-right: 10px;
    padding: 7px;

    &:hover {
      background-color: var.$btnHoverBgColor;
      border: 2px solid var.$btnBorderColor;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  button:nth-child(3) {
    width: 150px;
  }
}
.current_donuts_order {
  display: flex;
  flex-direction: column;
}

.timerClear {
  font-size: xx-large;
  background-color: darkgrey;
  text-align: center;
  width: 400px;
  border-radius: 50px;
  padding: 10px 10px;
  margin: 0 auto;
}

//Formulär för betalning
form#paymentForm,
form#cardPaymentForm,
form#invoicePaymentForm,
.price_discount {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .form_control {
    margin-bottom: 1em;
    position: relative;

    label {
      display: inline-block;
    }

    input {
      display: block;
      border: 1px solid #656565;
      border-radius: 4px;
      padding: 3px;
      width: 15em;
      height: 23px;
      position: relative;
      margin-bottom: 10px;
    }

    i {
      position: absolute;
      right: 7px;
      top: 34px;
      visibility: hidden;
    }

    small {
      position: absolute;
      left: 0;
    }

    span.form_info {
      font-size: 0.8rem;
    }

    #clearCartBtn {
      padding: 7px;
    }
  }

  .form_control.success input {
    border: 2px solid var.$sucessColor;
  }

  .form_control.success i.fa-circle-check {
    color: var.$sucessColor;
    visibility: visible;
  }

  .form_control.error input {
    border: 2px solid var.$errorColor;
  }

  .form_control.error i.fa-circle-xmark {
    color: var.$errorColor;
    visibility: visible;
  }

  .form_control.error small {
    color: var.$errorColor;
  }

  button#paymentButton {
    min-width: 8em;
    height: 2.3em;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      background-color: var.$btnHoverBgColor;
      border: 2px solid var.$btnBorderColor;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

.flex_payment_button {
  display: flex;
  justify-content: center;

  button#cardPaymentBtn,
  button#invoicePaymentBtn {
    min-width: 5em;
    height: 1.8em;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 20px;

    &:hover {
      background-color: var.$btnHoverBgColor;
      border: 2px solid var.$btnBorderColor;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  small.errorMsg {
    margin-top: 10px;
  }
}

button#cardPaymentBtn.active,
button#invoicePaymentBtn.active {
  background-color: var.$btnHoverBgColor;
  border: 2px solid var.$btnBorderColor;
  border-radius: 2px;
}

form#cardPaymentForm,
form#invoicePaymentForm {
  button#cardOrderButton,
  button#invoiceOrderButton {
    min-width: 8em;
    height: 2.3em;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      background-color: var.$btnHoverBgColor;
      border: 2px solid var.$btnBorderColor;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

form#cardPaymentForm,
form#invoicePaymentForm {
  margin-top: 1rem;
}

.selectedOrder div {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

