.start_page{
    .header_image{
        h1{
            font-size: 3rem;
            margin-bottom: 2.5em;
        }
    }

    button{
        margin-top: 2rem;
    }
}

form#paymentForm{
   flex-direction: row;
   justify-content: center;
   max-width: 65%;
   margin: 0 auto;

   .form_control{
    margin-right: 30px;
   }
}
