.start_page {
  .header_image {
    h1 {
      font-size: 3rem;
      margin-bottom: 2.5em;
    }
  }

  button {
    margin-top: 2rem;
  }
}


form#paymentForm, form#cardPaymentForm, form#invoicePaymentForm{
  .row{
    flex-direction: unset;
    flex-wrap: unset;
    justify-content: center;
  }

  .row.row_button{
    justify-content: center;
  }

  .form_control {
    margin-right: 30px;

    span.form_info{
      font-size: 1rem;
    }
  }
}

form#paymentForm {

  input[type=checkbox]{
    margin-top: 5px;
  }

  input#confirmUseOfData{
    margin-left: 1.5em;
  }
}
