.start_page {
  .header_image {
    h1 {
      font-size: 3rem;
      margin-bottom: 2.5em;
    }
  }

  button {
    margin-top: 2rem;
  }
}

.order_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  .filtering_buttons {
    width: 100%;
    max-width: unset;
  }
  #donut-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .donuts {
    width: 400px;
    //background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    div {
      border-style: none;
      figure > img {
        border-radius: 15px;
      }
    }
  }
}

.shopping_basket h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.selectedOrder {
  width: 80%;
  margin: 0 auto;

  h4 {
    margin-right: 2em;
  }
}

.cart_plus_minusBtn {
  button {
    padding: 4px;
  }
}

.price_discount {
  .row {
    flex-direction: unset;
  }

  .discount_button {
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .discount_alert span {
    margin-right: 7em;
  }
}

.shipping .shipping_text {
  margin-right: 17.3em;
}

.total_sum {
  .amount_text {
    margin-right: 17.3em;
  }
}

form#paymentForm,
form#cardPaymentForm,
form#invoicePaymentForm {
  .row {
    flex-direction: unset;
    flex-wrap: unset;
    justify-content: center;
  }

  .row.row_button {
    justify-content: center;
  }

  .form_control {
    margin-right: 20px;

    span.form_info {
      font-size: 1rem;
    }
  }
}

form#paymentForm {
  input[type='checkbox'] {
    margin-top: 5px;
  }

  input#confirmUseOfData {
    margin-left: 1.5em;
  }
}
