.start_page{
    .header_image{
        h1{
            font-size: 3rem;
            margin-bottom: 2.5em;
        }
    }

    button{
        margin-top: 2rem;
    }
}

/*form#paymentForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}*/
