//Generella variabler
$menuColor: #2b2b2b;
$blackTextColor: #1d1d1d;
$whiteBgColor: #f1f1f1;
$rubikFont: 'Rubik', sans-serif;

$blueDetailColor: #91ccd1;

//Validering
$sucessColor: #4bb45b;
$errorColor: #e63636;

//Variabler för knappar
$btnHoverBgColor: #a8a7a7;
$btnBorderColor: #8e8e8e;

$filterBtnBgColor: #e3e0e0;
$filterBorderColor: #959393;
$filterHoverBgColor: #c7c7c7;
$filterHoverBorderColor:#6a6a6a;

//DarkMode
$dmBgColor: #353535;
$dmTextColor: #f1f1f1;
$dmBlueColor: #65958f;
