$menuColor: #2b2b2b;
$blackTextColor: #1d1d1d;
$whiteBgColor: #f1f1f1;
$sucessColor: #4bb45b;
$errorColor: #e63636;
$btnHoverBgColor: #bfbcbc;;
$btnBorderColor: #8e8e8e;
$rubikFont: 'Rubik', sans-serif;
